<% if @job.present? %>

<table border="1" >
	<tr>
		<th>Title</th>
		<th>Company</th>
		<th>Summary</th>
		<th>Location</th>
		<th>Apply</th>
	</tr>

	<% @job.each do |job| %>
	<tr>
		<td><%= job.title %></td>
		<td><%= job.company %></td>
		<td><%= job.summary %></td>
		<td><%= job.location %></td>
		<td><%= button_to "Apply", job_applicant_new_url(job.id), method: :get %></td>
	</tr>
	<% end %>

</table>

<% end %>

<%= link_to "Post Job", new_job_path %>